//base unit
$base: 9px;
$contentInnerWidth: 550px;
$contentOuterWidth: 1000px;
$columnMargin: 0 auto;
$textMargin: 0 auto;

@import './base/normalize';
@import './base/base';
@import './base/type';
@import './base/images';

@import './extras/grid';
@import './extras/blockquote';
@import './extras/code';
@import './extras/hr';
@import './extras/drop-caps';

body {
  padding: 50px 0;
  font-family: sans-serif ;
}
